[Desktop Entry]
Encoding=UTF-8
Name=Terminal VIM
Comment=Edit files using terminal vim
Exec=vim --servername VIM --remote-silent %u
Terminal=true
Type=Application
Icon=vim
Categories=Application;Utility;TextEditor;
StartupNotify=true
MimeType=text/plain;
NoDisplay=true
